.Dashboard {
  min-width: 350px;
  background-color: #f4f4f4;
  padding: 15px 15px;
}
.toolbar {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
@media (max-width: 600px) {
  .Dashboard {
    min-width: 300px;
  }
  .toolbar {
    flex-direction: column;
  }
}
